.panel
  %h3 Comments:
  - comments.each do |comment|
    .well.comment__wrapper
      %p= comment.message
      %p.comment__author
        %span
          Created at:
          = comment.created_at.strftime("%-d/%-m/%y %H:%M")
        %span.pull-right
          Author:
          = comment.user.name
      - if comment.user == current_user
        %div.comment__remove-wrapper
          = link_to 'Remove', movie_comment_path(movie, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'pull-right btn btn-danger'
