.movies-show {
  .movie-wrapper {
    margin-bottom: 10px;
  }

  .poster-image {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .subtitle {
    margin-top: 0;
  }

  section {
    margin-bottom: 15px;
  }

  .comment {
    &__textarea {
      height: 150px;
      resize: none;
    }

    &__author {
      margin-bottom: 0;
    }

    &__wrapper {
      overflow: hidden;
    }

    &__remove-wrapper {
      overflow: hidden;
      margin-top: 5px;
    }
  }
}
