.movies-show {
  .movie-wrapper {
    margin-bottom: 10px;
  }

  .poster-image {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .subtitle {
    margin-top: 0;
  }

  section {
    margin-bottom: 15px;
  }

  .comment-textarea {
    height: 150px;
    resize: none;
  }
}
